{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Users List</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
  <div class="container">
    <h2 class="text-center mt-5">Users List</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Picture</th>
          <th scope="col">User</th>
          <th scope="col">Industry</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_all %}
        <tr>
          <td>{{ user.user_id }}</td>
          <td>
            <img src="{{ user.photo.url }}"
            width="40" height="40" style="border-radius:50px;" alt="{{ user.name }}">
          </td>
          <td>{{ user.name }}</td>
          <td>{{ user.industry }}</td>
          <td>{{ user.country }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
