{% extends 'base.html' %}

{% block content %}
<section class="section-content padding-y bg">
  <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <a href="#"><img src="{{single_product.images.url}}"></a>
            </div> <!-- img-big-wrap.// -->

          </article> <!-- gallery-wrap .end// -->
        </aside>
        <main class="col-md-6 border-left">
          <form action="{% url 'add_cart_view_path' single_product.id %}" method="POST">
            {% csrf_token %}

            <article class="content-body">

              <h2 class="title">{{ single_product.product_name }}</h2>

              <div class="mb-3">
                <var class="price h4">€{{single_product.price}}/month</var>
              </div>
              <p>{{single_product.description}}</p>
              <hr>
              <div class="row">
                <div class="item-option-select">
                  <h6>Stages of Business </h6>
                  <select class="form-control" name="choose_business_stage">
                    <option value="" disabled selected>Please Select</option>
                    {% for i in single_product.variationclass_set.company_stage %}
                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div> <!-- row.// -->
              <div class="row">
                <div class="item-option-select">
                  <h6>Company Size</h6>
                  <select class="form-control" name="choose_business_size">
                    <option value="" disabled selected>Please Select</option>
                    {% for i in single_product.variationclass_set.company_size %}
                    <option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div> <!-- row.// -->
              <hr>
              {% if single_product.stock <= 0 %}
              <h5>No Stock</h5>
              {% else %}
              {% if in_cart %}
              <a href="{% url 'add_cart_view_path' single_product.id %}" class="btn  btn-success ">
                <span class="text">Product Added</span>
                <i class="fas fa-check"></i> </a>

                <a href="{% url 'cart_view_path' %}" class="btn  btn-outline-primary ">
                  <span class="text">Go to Cart</span>
                  <i class="fas fa-eye"></i> </a>

                  {% else %}
                  <button type="submit" name="button" class="btn btn-primary"><span class="text">Add to Cart</span><i class="fas fa-shopping-cart"></i></button>

                  {% endif %}

                  {% endif %}
                </article> <!-- product-info-aside .// -->
              </form>
            </main> <!-- col.// -->
          </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br>

        <div class="row">
          <div class="col-md-9">

            <header class="section-heading">
              <h3>Customer Reviews </h3>

            </header>

            <form action="{% url 'app_store:submit_review_view_path' single_product.id %}" method="POST">
              {% csrf_token %}

              <h5>Write your Comment : </h5>
              <div class="">
                <label for="">How was your experience?</label>
                <br>
                <div class="rate">
                  <input type="radio" name="rating" value="5" id = "rating10" required=True>
                  <label for="rating10" title="5"></label>

                  <input type="radio" name="rating" value="4.5" id = "rating9" required=True>
                  <label for="rating9" title="4.5" class="half"></label>

                  <input type="radio" name="rating" value="4" id = "rating8" required=True>
                  <label for="rating8" title="4"></label>

                  <input type="radio" name="rating" value="3.5" id = "rating7" required=True>
                  <label for="rating7" title="3.5" class="half"></label>

                  <input type="radio" name="rating" value="3" id = "rating6" required=True>
                  <label for="rating6" title="3"></label>

                  <input type="radio" name="rating" value="2.5" id = "rating5" required=True>
                  <label for="rating5" title="2.5" class="half"></label>

                  <input type="radio" name="rating" value="2" id = "rating4" required=True>
                  <label for="rating4" title="2"></label>

                  <input type="radio" name="rating" value="1.5" id = "rating3" required=True>
                  <label for="rating3" title="1.5" class="half"></label>

                  <input type="radio" name="rating" value="1" id = "rating2" required=True>
                  <label for="rating2" title="1"></label>

                  <input type="radio" name="rating" value="0.5" id = "rating1" required=True>
                  <label for="rating1" title=".5" class="half"></label>

                  <input type="radio" name="rating" value="0" id = "rating0" required=True>
                  <label for="rating0" title="0"></label>
                </div>
                <br>
                Comment title:
                <input type="text" class="form-control" name="subject" value="" required=True>
                <br>
                Comment:
                <textarea name="review" rows="4" class="form-control" required=True></textarea>
                <br>
                {% if user.is_authenticated %}
                <input type="submit" name="" value="Submit comment" class="btn btn-primary">
                {% else %}
                <p>Please, login to rate  <span><a href="{% url 'app_accounts:login_view_path' %}">Log in</a></span></p>
                {% endif %}
              </div>

              {% include 'includes/alerts.html' %}
            </form>

            {% for review in reviews %}
              <article class="box mb-3">
                <div class="icontext w-100">

                  <div class="text">
                    <span class="date text-muted float-md-right">{{ review.updated_at }}</span>
                    <h6 class="mb-1">{{ review.user.full_name }} </h6>
                    <div class="rating-star">
                      <span>
                        <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-0 {% endif %}" aria-hidden=True></i>
                        <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-0 {% endif %}" aria-hidden=True></i>
                        <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-0 {% endif %}" aria-hidden=True></i>
                        <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-0 {% endif %}" aria-hidden=True></i>
                        <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-0 {% endif %}" aria-hidden=True></i>
                      </span>

                    </div>
                  </div>
                </div> <!-- icontext.// -->
                <div class="mt-3">
                  <h6>{{review.subject}}</h6>
                  <p>
                    {{review.review}}
                  </p>
                </div>
              </article>
            {% endfor %}


          </div> <!-- col.// -->
        </div> <!-- row.// -->


      </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    {% endblock %}
